{% extends 'base.html' %}

{% block content %}
<div class="container content-container mt-5 pt-5">

    <div
        class="row justify-content-center align-items-center align-self-center border-0 shadow rounded-5 mt-5 campaigns-container pt-5">
        <div class="col-md-2 justify-content-center align-self-start p-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'campaigns:campaigns_list' %}">Retour</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            {% for request in requests %}
            <div class="row justify-content-center">
                <div class="col-md-6 mb-3 rounded-5 shadow text-center campaigns-cards p-3">
                    <h2>{{ request.campaign.name }}</h2>
                    <h5>{{ request.camapign.description }}</h5>
                    <a href="{% url 'campaigns:accept_campaign_collaborator_request' request.id %}" class="btn btn-primary">Accepter</a>
                    <a href="{% url 'campaigns:refuse_campaign_collaborator_request' request.id %}" class="btn btn-danger">Refuser</a>
                </div>
            </div>
            {% empty %}
            <p>Aucune demandes pour le moment</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}