{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="container content-container d-flex justify-content-center align-content-center mt-3 pt-5">
    <div class="col-md-6 border-0 rounded-5 shadow p-3 box-area mx-1 mt-5">
        <div>
            <h1 class="ml-2">Demande de collaboration</h1>
            <p>b,efqizenfiqzne fqz eqzne qzfnqziebnifq</p>
        </div>
        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <form action="" method="post" class="mt-5 ">{% csrf_token %}
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                {{ form|crispy }}
                {% endfor %}
                {% else %}
                {{ wizard.form|crispy }}
                {% endif %}
            </table>
            {% if wizard.steps.current == wizard.steps.last %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"
                class="btn text-decoration-none register-button rounded">{% translate "prev step"%}</button>
            <button type="submit" class="btn text-decoration-none register-button rounded">Valider !</button>
            {% else %}
                {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"class="btn text-decoration-none register-button rounded">{% translate "prev step"%}</button>
                    <button type="submit" class="btn text-decoration-none register-button rounded">Étape suivante</button>
                {% else %}
                    <button type="submit" class="btn text-decoration-none register-button rounded">Étape suivante</button>
                {% endif %}
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $("#id_2-collaborators").select2();
</script>
{% endblock %}