{% extends 'base.html' %}

{% block content %}
    <div class="container content-container mt-5 pt-5">
        
        <div class="row justify-content-center align-items-center align-self-center border-0 shadow rounded-5 mt-5 campaigns-container pt-5">
            <div class="col-md-2 justify-content-center align-self-start p-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'campaigns:campaigns_requests_list' %}">Demande de collaboration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'campaigns:campaigns_created_list' %}">Camapgnes crées</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'campaigns:campaigns_participate_list' %}">Campagnes participées</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'campaigns:campaign_creation' %}">Creez une campagne</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                {% for campaign_data in campaigns_with_collaborators %}
                <div class="row justify-content-center">
                    <div class="col-md-6 mb-3 rounded-5 shadow text-center campaigns-cards p-3">
                        <h2>{{ campaign_data.campaign.name }}</h2>
                        <h5>{{ campaign_data.campaign.campaign_creator }}</h5>
                        <h3>Collaborateurs :</h3>
                        <ul>
                            {% for collaborator in campaign_data.collaborators %}
                            <li>{{ collaborator.username }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% empty %}
                <p>Aucune campagne pour le moment</p>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}