{% extends 'base.html' %}

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center fs-1 text-white flex-column hero-land-page">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            <h5>{{ message }}</h5>
        </div>
        {% endfor %}
        <h1>Opt.</h1>
        <h2>Connectez votre créativité</h2>
    </div>
    
</div>
<div class="container-fluid" id="second-hero"></div>
{% endblock %}