<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userslist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container border">
        <h1>
            Hello world!
        </h1>
        <nav id="categories" class="navbar navbar-expand-lg bg-body-trtiary">
            <div class="container-fluid">
                {% for category in categories %}
                {% include 'users/categories.html' with category=category %}
                {% endfor %}
            </div>
        </nav>
        <div class="row">

            <div class="col-4 bg-primary">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="category-name" placeholder="Category...">
                    <button hx-post="{% url 'registration' %}" hx-target="#categories" hx-swap="beforeend"
                        type="submit">Add</button>
                </form>
            </div>
            <main class="col-8 border bg-success">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="user-description" placeholder="Users...">
                    <button hx-post="{% url 'user_registration' %}" hx-vals="js:{category: getCategoryFromURL()}"
                        hx-target="#users" hx-swap="beforeend" type="submit">
                        Add user
                    </button>
                </form>
                <section>
                    <div id="users">
                        {% include 'users/users.html' with users=users %}
                    </div>
                </section>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script>
        document.body.addEventListener("htmx:responseError", function (event) {
            alert(event.detail.xhr.responseText);
        })

        function getCategoryFromURL() {
            let url = new URL(window.location.href);
            let params = url.searchParams;
            return params.get("category")
        }
    </script>

</body>

</html>