{% extends 'base.html' %}

{% block content %}
<div class="container content-container mt-5 p-5">
    <div class="card-container row justify-content-center align-items-center align-self-center shadow rounded-5 mt-5 pt-4">
        
        {% for profile in profiles %}
        <div class="row justify-content-center ">
            <div class="col-md-4 mb-3 ">
                <a href="{% url 'users:profile' profile.user.pk %}" class="text-decoration-none">
                    <div class="user-card d-flex align-items-start border-0 rounded shadow-sm p-1">
                        <div class="user-picture"><img src="{{ profile.profile_picture.url}}" alt="img-thumbnail"
                                class="rounded-circle user-thumbnail h-25">
                        </div>
                        <div class="user-info">
                            <h5 class="fw-bold fst-italic">{{ profile.user.username }}</h5>
                            {% if profile.short_description != None %}
                            <span class="pb-3">{{ profile.short_description }}</span>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% empty %}
        <p class="mx-auto mb-1">Pas d'annonceurs pour le moment</p>
        {% endfor %}
    </div>
</div>
{% endblock %}