
{% extends 'base.html' %}

{% block content %}
<h2>Liste des créateurs</h2>
<div class="row">
    {% for user in users %}
    {% if user.user_type == "creator" %}
    <div class="col-md-4 mb-3">
        <a href="{% url 'users:profile' user.id %}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% empty %}
    <p>No users found</p>
    {% endfor %}
</div>
{% endblock %}