{% extends 'base.html' %}

{% block content %}
<div class="container content-container d-flex justify-content-center align-items-center align-self-center">

    <form method="post" class="my-form mt-5 p-5 rounded custom-form-card  text-center w-50 shadow-lg" id="custom-form">
        <h2>Login</h2>
        <br>
        {% for message in messages %}
        <h5>{{ message }}</h5>
        {% endfor %}
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-4 mx-3">
            {{ field }}
        </div>
        {% endfor %}
        <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn bg-light" id="register-button">Se connecter</button>
        </div>
    </form>
</div>
{% endblock %}