{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container-fluid content-container w-50">
    <div class="user-profile-card shadow-lg rounded">
        <div class="banner"><img src="{{ profile.banner.url }}" class="img-fluid" alt="..." id=""></div>
        <div class="profile-picture"><img src="{{ profile.profile_picture.url }}" alt="img-thumbnail"
                class=" rounded-circle z-index-1 mx-auto shadow-sm" id="">
        </div>
        <div class="profile-description text-center p-3">
            <h1>{{profile.name}}</h1>
            <div class="row">
                {% if profile.instagram_url %}
                <div class="col">
                    <a href="{{profile.instagram_url}}">
                        <img src="{% static 'images/instagram.png' %}" alt="Logo Instagram">
                    </a>
                </div>
                {% endif %}
            </div>
            <p>{{profile.main_description}}</p>
            <button type="button" class="btn btn-success btn-lg shadow-lg ">Collaborer</button>
        </div>
        
    </div>


    <!-- 
    <div class="row position-relative mb-5" id="profile_header">
        <img src="{{ profile.banner.url }}" class="img-fluid h-100 w-100" alt="..." id="profile_banner">
        <img src="{{ profile.profile_picture.url }}" alt="img-thumbnail"
            class="img-thumbnail rounded-circle position-absolute top-100 start-50 translate-middle shadow"
            id="profile_picture">

    </div>
    <div class="row d-flex flex-column mt-5 position-relative">
        <div class="col-3"></div>
        <div class="col-6 text-center mx-auto mt-5">
            <h1>{{profile.name}}</h1>
            <div class="row">
                {% if profile.instagram_url %}
                <div class="col">
                    <a href="{{profile.instagram_url}}">
                        <img src="{% static 'images/instagram.png' %}" alt="Logo Instagram">
                    </a>
                </div>
                {% endif %}
            </div>
            <p>{{profile.main_description}}</p>
            <button type="button" class="btn btn-success btn-lg shadow-lg">Collaborer</button>
        </div>
        <div class="col-3"></div>
    </div>
</div> -->

    {% endblock %}