{% extends 'base.html' %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center align-self-center">

    <form method="post" class="my-form mt-5 p-5 rounded custom-bg-color w-50 text-center" id="custom-form">
        <h2>Inscrivez-vous</h2>
        <br>

        {% csrf_token %}
            {% for field in form %}
            <div class="mb-4 mx-3">
                {% if field.name == 'password1' or field.name == 'password2' %}
                <input type="password" class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}"
                    required>
                {% elif field.name == 'user_type' %}
                    {% for choice in field.field.choices %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ field.name }}" id="{{ choice.0 }}"
                            value="{{ choice.0 }}">
                        <label class="form-check-label" for="{{ choice.0 }}">{{ choice.1 }}</label>
                    </div>
                    {% endfor %}
                {% else %}
                {{ field }}
                {% endif %}
            </div>
            {% endfor %}
        <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn bg-light" id="register-button">S'inscrire</button>
        </div>
    </form>
</div>
{% endblock %}