{% extends 'base.html' %}

{% block content %}
 
<div class="container d-flex justify-content-center align-items-center align-self-center">

    <form method="post" class="my-form mt-5 p-3 rounded custom-bg-color" id="subscription-form">
        <h2>Inscrivez-vous</h2>
        {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {% if field.name == 'password1' or field.name == 'password2' %}
                <input type="password" class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}"
                    required>
                {% else %}
                {{ field }}
                {% endif %}
            </div>
            {% endfor %}
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn bg-light">S'inscrire</button>
            </div>
            
    </form>
</div>
{% endblock %}