{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 p-4">
    <div
        class="row justify-content-center align-items-center align-self-center rounded-4  mt-5 campaigns-container p-4">
        <div>
            <a class="text-decoration-none"
                href="{% url 'campaigns:campaigns_list' campaign_page_user.pk %}">Retour</a>
        </div>
        <div class="card my-2 campaigns-cards rounded-4 shadow-lg">
            <!-- <div class="campaign-card-header">
                <h3 class="ms-2 mt-2 text-capitalize fw-bolder">{{ campaign.name }}</h3>
            </div> -->
            <div class="card-body campaign-card-body text-center rounded-top-4">
                <!-- <p>Date de départ: {{ campaign.start_date }}</p>
                <p>Date de fin: {{ campaign.end_date }}</p> -->
                <h3 class="text-capitalize fw-bolder text-start m-0">{{ campaign.name }}</h3>
                <p class="ms-1 text-start">Createur : {{ campaign.campaign_creator }}</p>
                <div class="d-flex mt-6 fw-bold">
                    <p class=" me-5">Date de début : {{ campaign.start_date}} </p>  
                    <p>Date de de fin : {{ campaign.end_date}} </p>
                </div>
                <h6 class="text-start">Collaborateurs :</h6>
                {% for collaborator in collaborators %}
                <p class="ms-2 text-start">- {{ collaborator.username }}</p>
                {% endfor %}
                <p class="text-start">Description:</p>
                <p class="text-start">{{ campaign.description }}</p>
            </div>
            <div class="campaigns-card-footer rounded-bottom-4 pt-3 ps-3">
                {% if user == campaign_page_user %}
                    <div class="my-4"></div>
                {% else %}
                <a class="btn request-campaign-button ms-2 mb-2" href="{% url 'campaigns:join_campaign' campaign.pk campaign_page_user.pk %}" role="button">Rejoindre cette campagne</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}