{% extends 'base.html' %}

{% block content %}
<div class="container content-container mt-5 p-4">

    <div
        class="row justify-content-center align-items-center align-self-center border-0  rounded-5 mt-5 campaigns-container p-3">
        <div class="col-md-2 justify-content-center align-self-start p-3">
            <ul class="nav flex-column">
                <li class="nav-item my-2">
                    <a class="text-decoration-none" href="{% url 'campaigns:campaigns_list' campaign_page_user.pk %}">Retour</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            {% for request in requests %}
            <div class="card my-2 rounded-4 mb-4 request-card shadow">
                <div class="card-body rounded-top-4 ">
                    <h3 class="text-decoration-none fw-bold">Demande de participation n° {{ request.id }}</h3>
                    <h6 class="text-decoration-none">Émetteur de la demande: {{ request.collaborator }}</h6>
                    <!-- <a href="{% url 'campaigns:campaign_page' campaign_pk=request.campaign.pk campaign_user_pk=campaign_page_user.pk %}">Détail</a> -->
                </div>
                <div class="rounded-bottom-4 pt-2 pb-3 ps-3 d-flex justify-content-around ">
                    <a href="{% url 'campaigns:accept_campaign_collaborator_request' request.id %}"
                        class="btn accept-request-button shadow-sm mr-2">Accepter</a>
                    <a href="{% url 'campaigns:refuse_campaign_collaborator_request' request.id %}"
                        class="btn decline-request-button shadow-sm ml-2">Refuser</a>
                </div>
            </div>
            {% empty %}
            <p>Aucune demandes pour le moment</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}