{% extends 'base.html' %}

{% block content %}
<div class="container content-container mt-5 p-4">

    <div
        class="row justify-content-center align-items-center align-self-center border-0 mt-5 campaigns-container p-3">
        <div class="col-md-2 justify-content-center align-self-start p-3">
            <ul class="nav flex-column">
                <li class="nav-item my-2">
                    <a class="text-decoration-none" href="{% url 'campaigns:campaigns_list' campaign_page_user.pk %}">Retour</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            {% for campaign_data in campaigns_with_collaborators %}
            <div class="card ms-4 mb-2 campaigns-cards rounded-4 shadow-lg">
                <div class="card-body campaign-card-body text-center rounded-top-4">
                    <h3 class="text-capitalize fw-bolder text-start m-0">{{ campaign_data.campaign.name }}</h3>
                    <p class="ms-1 text-start">Createur : {{ campaign_data.campaign.campaign_creator }}</p>
                    <div class="d-flex mt-6 fw-bold">
                        <p class=" me-5">Date de début : {{ campaign_data.campaign.start_date}} </p>
                        <p>Date de de fin : {{ campaign_data.campaign.end_date}} </p>
                    </div>
                </div>
                <div class="campaigns-card-footer rounded-bottom-4 pt-3 ps-3">
                    <a class="btn request-campaign-button mx-auto mb-2"
                        href="{% url 'campaigns:campaign_page' campaign_pk=campaign_data.campaign.pk campaign_user_pk=campaign_page_user.pk %}"
                        role="button">Détail</a>
                </div>
            </div>
            {% empty %}
            <p>Aucune campagne pour le moment</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}