@font-face {
  font-family: "Roundo";
  src: url("./fonts/Roundo_Complete/Fonts/WEB/fonts/Roundo-Light.ttf");
}

@font-face {
  font-family: "Kanit";
  src: url("./fonts/Kanit/Kanit-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #59ef99; */
  background: #eeeeee;
  width: 100vw;
  min-height: 100vh;
}

/*******************ELEMENTS**********************/

.body-button {
  background-color: #091c0f;
  font-family: "Kanit", sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 6px 18px;
  border-radius: 1.5px;
  transition: 0.3s background-color;
}

/*******************NAV*******************/
.navbar {
  background-color: #ffffff;
  padding: 0.6rem;
}
.navbar-brand {
  max-width: 80px;
  max-height: 45px;
  transition: 0.3s;
  filter: brightness(0) saturate(100%) invert(87%) sepia(53%) saturate(583%)
    hue-rotate(69deg) brightness(101%) contrast(87%);
}

.navbar-brand:hover {
  filter: brightness(0) saturate(100%) invert(64%) sepia(98%) saturate(339%)
    hue-rotate(86deg) brightness(94%) contrast(90%);
}

.opt-nav-link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: #000000;
  position: relative;
}
.opt-nav-link:hover,
.opt-nav-link.active {
  color: #5e5e5e;
}

@media (min-width: 768px) {
  .opt-nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #59ef99;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .opt-nav-link:hover::before,
  .opt-nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.login-dropdown {
  width: 120px !important;
}

.login-dropdown button {
  width: 90px;
}
.login-dropdown button img {
  width: 45px;
  height: 45px;
  border: 3px white solid;
}
.login-dropdown .dropdown-menu {
  background-color: #ffffff;
  width: 210px;
}

.login-dropdown a {
  color: #091c0f;
  padding: 6px;
}

.login-dropdown ul {
  margin-bottom: 0;
}

/* .login-dropdown  li a{
  border-radius: 6px;
} */

.login-dropdown a:hover {
  background-color: #59ef99;
  border-radius: 6px;
}

.login-button {
  background-color: #59ef99;
  font-family: "Lato", sans-serif;
  color: #091c0f;
  font-size: 18px;
  padding: 6px 18px;
  border-radius: 1.5px;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: #37db73;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2889, 239, 153, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*******************MAIN*******************/
main {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  width: 100%;
}

/*******************HOME*******************/

.hero-land-page {
  background: url("images/dose-media-jxslQxviEJ0-unsplash.jpg") no-repeat center;
  background-size: cover;
  min-height: 90vh;
  height: 100%;
  width: 100%;
  background-color: #5c8367;
  background-blend-mode: multiply;
}

.hero-land-page h1 {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-size: 3em;
}

.hero-land-page h3 {
  font-size: 1.5em;
}

.content-container {
  min-height: 100%;
  margin-top: 39px;
}

#second-hero {
  color: #070707;
  background-color: rgb(247, 235, 220);
  text-shadow: 1px 1px 2px rgb(121, 121, 121);
  min-height: 60vh;
  height: 100%;
  width: 100%;
}

#second-hero h1 {
  font-size: 3em;
}

#second-hero p {
  font-size: 1.5em;
  margin-bottom: 0 !important;
}

#second-hero img {
  max-width: 60px;
  max-height: 60px;
}

#third-hero {
  color: #000000;
  background-color: #ffffff;
  font-size: 1.5em;
  min-height: 60vh;
  height: 100%;
  width: 100%;
}

#fourth-hero {
  min-height: 80vh;
  height: 100%;
  width: 100%;
  color: #091c0f;
  background-color: rgb(247, 235, 220);
  font-size: 1.8em;
}

#fifth-hero {
  min-height: 80vh;
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.fifth-hero-banner img {
  max-height: 320px;
  max-width: 320px;
}

#sixth-hero {
  min-height: 70vh;
  height: 100%;
  width: 100%;
  font-size: 1em;
  color: #091c0f;
  background-color: #59ef99;
}

#sixth-hero h1 {
  font-size: 2em;
}

@media (min-width: 768px) {
  .content-container {
    margin-top: 36px;
    margin-bottom: 90px;
  }

  .fifth-hero-banner img {
    max-height: 520px;
    max-width: 520px;
  }
}

/*************FORMS**************/
.box-area {
  background-color: #ffffff;
}

.banner-container {
  background-color: #22c45e;
}

.banner-container img {
  filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(289deg)
    brightness(110%) contrast(100%);
}

.banner-container small {
  width: 17rem;
}

#login-banner {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(325deg)
    brightness(106%) contrast(101%) !important;
}

.register-button {
  color: #f0fdf5;
  background-color: #37db73;
  transition: 0.3s background-color;
  min-width: 90px;
  max-width: 250px;
}

.register-button:hover {
  background-color: #22c45e;
  color: #f0fdf5;
}

.custom-form-card {
  font-family: "Kanit", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.custom-form-card input,
.custom-form-card textarea {
  background-color: #eeeeee;
}

.custom-form-card input:focus,
.custom-form-card textarea:focus {
  box-shadow: none !important;
  border: #1fb154 1px solid !important;
  background-color: #eeeeee;
}

.custom-form-card input[type="file"]::file-selector-button {
  background: #59ef99;
  color: #ffffff;
  border: none;
  border-radius: 12px;
}

.custom-form-card input[type="file"]::file-selector-button:hover {
  background-color: #1fb154 !important;
}

.custom-form-card input[type="file"] {
  background: #ffffff;
  border: none !important;
}

.custom-form-card input[type="file"]:focus {
  border: none;
}

.selection li {
  background-color: #22c45e !important;
  border: none !important;
  border-radius: 30px !important;
  color: #ffffff;
}

.selection button {
  border-color: #ffffff !important;
  color: #ffffff !important;
  transition: 0.6s;
}

.selection button {
  border-color: #ffffff !important;
  color: #ffffff !important;
  transition: 0.6s;
}

.selection button:hover {
  background-color: #37db73 !important;
}

/************USERS LIST****************/
.card-container {
  background-color: #ffffff;
  min-height: 80vh;
}

.card-container input[type="search"] {
  border-radius: 21px;
  min-width: 100%;
  background-color: #eeeeee;
}

.card-container input[type="search"]:focus {
  box-shadow: none;
  border: none;
}

.user-card {
  max-height: 380px !important;
  min-height: 120px;
  background-color: #ffffff;
  color: #000000;
  /* border-color: #59ef99; */
  transition: 0.6s;
  font-size: 12px
}

.user-card:hover {
  background-color: #eeeeee;
}

.user-thumbnail {
  height: 60px !important;
  width: 60px !important;
  overflow: hidden;
}

.user-info {
  margin-left: 12px;
}

.user-info .span {
  font-size: 15px;
}

/************ACCOUNT****************/

/************PROFILE****************/

.profile-banner img {
  height: 180px;
  width: 100%;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  margin-top: -80px;
}

.profile-content h5 {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

.profile-content p {
  font-family: "Roundo", sans-serif;
  font-weight: 800;
}



@media (min-width: 768px) {
  .profile-banner img {
    height: 240px;
  }

  #profile-card {
    min-height: 510px;
  }
}

/* #profile_picture {
  height: 150px;
  width: 150px;
}

#profile-card .card-header {
  padding: 0;
  min-height: 250px;
}

#profile-card .card-body {
  min-height: 500px;
} */

.btn-success {
  background-color: #22c45e !important;
}

.card-header {
  color: #091c0f;
}

.card {
  background-color: #ffffff;
  color: #000000;
}

.card-body img {
  width: 150px;
  height: 450px;
}

.social-logo-container {
  max-width: 60px;
}

.social-logo {
  max-height: 30px;
  max-width: 30px;
}

.collaboration-button {
  background-color: #59ef99;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 1.5px;
}

.collaboration-button:hover {
  background-color: #37db73;
  color: #ffffff;
}

.rate-button {
  background-color: #ffffff;
  border: 4px #22c45e solid;
  color: #22c45e;
}

.rate-button:hover {
  background-color: #cde9d7;
  color: #ffffff;
  border: 4px #22c45e solid;
}

#main-description .card {
  min-height: 480px;
}

#advertisers-content .card {
  min-height: 480px;
}

.publireportage-title {
  font-weight: 690;
  color: #000000;
  font-size: 60px;
  font-family: "Roundo", sans-serif;
  font-style: normal;
}

.publireportage-text {
  color: #000000;
  font-size: 21px;
}

.publireportage-image {
  height: 360px !important;
  width: 360px !important;
}

/*******************CAMPAIGNS*******************/

.campaign-nav {
  background-color: #59ef99;
  min-height: 400px;
  color: #ffffff;
}

.campaign-nav-link {
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 18px;
  padding: 10px;
  margin: 0px 10px 0px;
  font-family: "Roundo", sans-serif;
  font-weight: 600;
  font-size: 21px;
}

.campaign-nav-link:hover,
.campaign-nav-link:active {
  background-color: #ffffff;
  color: #59ef99;
  transition: 0.4s ease-in-out;
}

.active-button {
  background-color: #ffffff;
  color: #59ef99;
}

.campaign-nav h1 {
  font-family: "Kanit", sans-serif;
  font-size: 42px;
  font-weight: bolder;
}

.back-link {
  color: #ffffff;
}

.campaign-creation {
  font-family: "Kanit", sans-serif;
}

.campaign-creation input,
.campaign-creation textarea {
  outline: none;
}

.campaign-creation input:focus,
.campaign-creation textarea:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #59ef99;
  background-color: transparent;
}

.campaign-creation-card-header {
  font-family: "Roundo", sans-serif;
  color: #59ef99;
  background-color: #091c0f;
}

.campaign-creation-card-header p {
  font-weight: 600;
}

.campaign-creation-button {
  color: #59ef99;
  background-color: #091c0f;
  transition: 0.3s background-color;
  min-width: 90px;
  max-width: 250px;
}

.campaign-creation-button:hover {
  background-color: #59ef99;
  color: #091c0f;
}

.campaign-creation-button::first-letter {
  text-transform: capitalize;
}

.noUi-connect {
  background: #091c0f !important;
}

.campaigns-container {
  color: #4d4d4d;
}

.campaigns-container a {
  color: #091c0f;
  font-weight: 600;
  font-size: 1.2em;
}

.campaign-card-header {
  font-size: 2em;
  font-family: "Roundo";
  color: #ffffff;
}

.campaign-card-body h3 {
  color: #ffffff;
}

.card {
  border: none;
}

.campaigns-cards {
  padding: 0;
}

.campaign-card-body {
  background: rgb(9, 28, 15);
  background: linear-gradient(
    45deg,
    rgba(9, 28, 15, 1) 0%,
    rgba(61, 138, 85, 1) 100%
  );
  /* background-color: #091c0f; */
  color: #59ef99;
}

.campaigns-card-footer {
  border-color: #f0fdf5;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
}

.request-campaign-button {
  color: #59ef99 !important;
  background-color: #091c0f;
  transition: 0.5s ease-in-out;
}

.request-campaign-button:hover {
  color: #22c45e !important;
  background-color: #091c0f;
}

.request-card {
  background: rgb(9, 28, 15);
  background: linear-gradient(
    45deg,
    rgba(9, 28, 15, 1) 0%,
    rgba(61, 138, 85, 1) 100%
  );
  color: #59ef99;
}

.request-card h3{
  color: #ffffff;
}


.accept-request-button {
  color: #ffffff !important;
  background-color: #22c45e;
  transition: 0.5s ease-in-out;
}

.accept-request-button:hover {
  color: #22c45e !important;
  background-color: #ffffff;
  transition: 0.5s ease-in-out;
}

.decline-request-button {
  color: #ffffff !important;
  background-color: #797979;
  transition: 0.5s ease-in-out;
}

.decline-request-button:hover {
  color: #ffffff !important;
  background-color: #3c473a;
  transition: 0.5s ease-in-out;
}

/*******************PARTIALS*******************/

.terms-box {
  min-width: 300px;
  font-family: "Montserrat";
}

.terms-text {
  height: 400px;
}

/*******************FOOTER*******************/

footer {
  color: #000000;
  background-color: #ffffff;
}

footer a {
  color: #000000;
  transition: 0.3s;
}

footer a:hover {
  color: #696969;
}

.footer-logo {
  max-width: 80px;
  max-height: 60px;
  transition: 0.3s;
  filter: brightness(0) saturate(100%) invert(87%) sepia(53%) saturate(583%)
    hue-rotate(69deg) brightness(101%) contrast(87%);
}

.footer-logo:hover {
  filter: brightness(0) saturate(100%) invert(64%) sepia(98%) saturate(339%)
    hue-rotate(86deg) brightness(94%) contrast(90%);
}
