@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&display=swap");

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  height: 100vh;
  width: 100vw;
}

nav {
  background-color: #F0FDF5;
}

a.nav-link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  color: #22c45e !important;
}

#main{
    background-color: bisque;
    height: 100%;
    width: 100%;
}
#main_logo {
  font-family: "Monoton", sans-serif;
  font-size: 42px;
  font-weight: 400;
  font-style: normal;
  color: #22c45e;
}

#subscription-form {
  background-color: #22c45e !important;
  color: #F0FDF5 !important;
}


#profile_header {
  background-size: cover;
}