@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #dadada;
  width: 100vw;
  min-height: 100vh;
}

/*******************NAV*******************/
.navbar {
  background-color: #f0fdf5;
  padding: 0.6rem;
}
.navbar-brand {
  font-weight: 390;
  color: #37db73;
  font-size: 33px;
  transition: 0.3s ease-in-out;
  font-family: "Monoton", sans-serif;
  font-style: normal;
}

.navbar-brand:hover {
  color: #22c45e;
}

.nav-link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  color: #37db73;
  position: relative;
}
.nav-link:hover,
.nav-link.active {
  color: #22c45e;
}

@media (min-width: 768px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #22c45e;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }

  /* .log-buttons{
  font-size: 21px;
  } */
}

.login-dropdown {
  width: 120px !important;
}

.login-dropdown button {
  width: 90px;
}
.login-dropdown button img {
  max-width: 70px;
  max-height: 60px;
}
.login-dropdown .dropdown-menu {
  background-color: #f0fdf5;
}

.login-button {
  background-color: #22c45e;
  font-family: "Lato", sans-serif;
  color: ghostwhite;
  font-size: 18px;
  padding: 6px 18px;
  border-radius: 48px;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: #37db73;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

/*******************MAIN*******************/
main {
  font-family: "Lato", sans-serif;
  min-height: 100%;
  width: 100%;
}

/*******************HOME*******************/

.hero-land-page {
  background: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.123)),
    url("images/dose-media-jxslQxviEJ0-unsplash.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.hero-land-page h1 {
  font-family: "Monoton", sans-serif;
  font-style: normal;
  font-size: 3em;
}

.content-container { 
  margin-top: 30px;
}

@media (min-width: 768px) {
  .content-container {
    margin-top: 36px;
    margin-bottom: 90px;
  }
}

/*************FORMS************* */
.box-area {
  background-color: #ffffff;
}

.banner-container {
  background-color: #22c45e;
}

.banner-container img {
  filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(289deg)
    brightness(110%) contrast(100%);
}

.banner-container small{
  width: 17rem;
}


.register-button {
  color: #f0fdf5;
  background-color: #22c45e;
  transition: 0.3s background-color;
  
}

.register-button:hover{
  background-color: #37db73;
  color: #f0fdf5;
}

.custom-form-card{
  background-color: #f0fdf5;
  color: #1f1f1f;
}

/************ USERS LIST ****************/
.card-container{
  background-color: #ffffff;
}
.user-card {
  max-height: 90px !important;
  background-color: #f0fdf5;
}

.user-thumbnail {
  height: 60px !important;
  width: 60px !important;
  overflow: hidden;
}

.user-info {
  margin-left: 12px;
  color: black;
}

.user-info .span {
  font-size: 15px;
}

/************PROFILE*************** */

.banner {
  max-height: 240px;
}

.profile-picture img {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 1;
  margin-top: -78px;
}

#profile_picture {
  height: 90px !important;
  width: 120px !important;
}

.btn-success {
  background-color: #22c45e !important;
}

.card-header{
  background-color: #f0fdf5;
}

.card-body img{
  width: 150px;
  height: 450px;
}

.social-logo{
  max-height: 30px;
  max-width: 30px;
}
/*******************FOOTER*******************/

footer{ 
  color: #37db73;
  background-color:#f0fdf5;
}
