@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&display=swap");

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/* *******NAV********* */
.navbar {
  background-color: #f0fdf5;
  height: 90px;
  margin: 21px;
  border-radius: 18px;
  padding: 0.6rem;
}
.navbar-brand {
  font-weight: 390;
  color: #37db73;
  font-size: 33px;
  transition: 0.3s ease-in-out;
  font-family: "Monoton", sans-serif;
  font-style: normal;
}

.navbar-brand:hover {
  color: #22c45e;
}

.nav-link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  color: #37db73;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #22c45e;
}

@media (min-width: 990px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #22c45e;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

.login-button {
  background-color: #22c45e;
  font-family: "Lato", sans-serif;
  color: ghostwhite;
  font-size: 18px;
  padding: 6px 18px;
  border-radius: 48px;
  transition: 0.3s background-color;
}

.login-button:hover {
  background-color: #37db73;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

/********MAIN*********/
#main {
  background: url("images/dose-media-jxslQxviEJ0-unsplash.jpg") no-repeat center;
  background-size: cover;
  font-family: "Lato", sans-serif;
  width: 100%;
}

#main .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}

#main::before {
  background-color: rgba(61, 61, 61, 0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#main h1 {
  font-family: "Monoton", sans-serif;
  font-style: normal;
  font-size: 3em;
}

/*************FORMS************* */
#custom-form {
  background-color: #22c45e !important;
  color: #f0fdf5 !important;
}

#register-button {
  border: 3px solid #f0fdf5 !important;
  color: #f0fdf5 !important;
  background-color: #22c45e !important;
}

/************ USERS LIST ****************/

.user-card {
  max-height: 90px !important;
}

.user-thumbnail {
  height: 90px !important;
  width: 90px !important;
}

/************PROFILE*************** */
#profile_header {
  height: 360px;
}

#profile_picture {
  height: 120px !important;
  width: 150px !important;
}
