{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center text-white flex-column hero-land-page">
    <!-- <img class="my-4" src="{% static 'images/star.png' %}" alt=""> -->
    <div class="container d-flex align-items-center justify-content-center text-white flex-column py-5">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            <h5>{{ message }}</h5>
        </div>
        {% endfor %}
        <h1 class="fw-bolder mb-3 mt-5 text-center">Connectez votre créativité</h1>
        <h3 class="text-center">Découvrez la première plateforme de collaborations impactantes,<br> où les créateurs de
            contenu, les annonceurs
            et les
            associations se réunissent<br>pour une cause commune !</h3>
    </div>
    <!-- <img class="my-5" src="{% static 'images/star.png' %}" alt=""> -->
</div>
<div class="container-fluid fw-bolder text-center text-wrap pt-5" id="second-hero">

    <h1 class="fw-bolder mt-5">Bienvenue sur OPT.</h1>
    <br>
    <p class="mb-5">l'endroit où l'innovation rencontre l'influence, où les idées prennent vie, <br> et où les
        collaborations
        prennent une nouvelle dimension.</p>
    <img class="mt-5 mb-2" src="{% static 'images/arrow.png' %}" alt="">


</div>
<div class="container-fluid d-flex justify-content-center align-items-center text-center fw-bolder" id="third-hero">
    <div class="col-md-6 py-4">
        <p class="">Rejoignez-nous dans une communauté dynamique où la créativité rencontre<br> l'engagement, où les
            opportunités de
            partenariats se multiplient et où chaque<br> collaboration compte.<br><br> Que vous soyez un créateur de
            contenu
            passionné,
            une
            marque en quête d'authenticité<br> ou une association cherchant à faire entendre sa voix, OPT vous offre une
            plateforme<br>
            puissante pour réaliser vos objectifs.</p>
    </div>

</div>
<div class="container-fluid d-flex justify-content-center align-items-center fw-bolder text-center" id="fourth-hero">
    <p class="fw-bolder">Explorez nos fonctionnalités intuitives,<br> connectez-vous avec des esprits similaires<br> et
        débloquez des opportunités
        inégalées<br> pour étendre votre portée.<br><br> Faire passer votre message plus loin<br>et créer un impact
        réel.</p>
</div>
<div class="container-fluid d-flex justify-content-center" id="fifth-hero">
    <div class="row py-4">
        <div class="col-lg-6 fifth-hero-banner d-flex justify-content-center align-items-center">
            <div class="">
                <img class="img-fluid" src="{% static '/images/toa-heftiba-_UIVmIBB3JU-unsplash.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-lg-6 p-3 d-flex justify-content-center align-items-center flex-column">
            <p class="my-2">Avec OPT, chaque collaboration est une opportunité de changer le monde.<br>
                Prêt à faire partie de quelque chose de plus grand ?<br> Rejoignez-nous dès aujourd'hui et découvrez
                comment
                ensemble,<br> nous
                pouvons transformer des idées en actions et inspirer le changement.</p>
            <br>
            <a href="{% url 'users:register' %}"
                class="body-button py-3 px-5 text-decoration-none shadow-sm border-0">Inscription</a>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center fw-bolder align-items-center text-center " id="sixth-hero">
    <div class="col-md-6 fw-bolder">
        <h1 class="fw-bold">Contactez-nous</h1>
        <br>
        <a href="{% url 'contact' %}" class="body-button py-3 px-5 text-decoration-none shadow-sm border-0">contact-opt@protonmail.com</a>
    </div>

</div>
{% endblock %}